{% extends 'base.html' %} {% block main %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">GeekForChild</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
    </div>
</nav>
<div class="container text-center">
  <div class="d-flex justify-content-center row m-5">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="128"
      height="128"
      fill="#484848"
      class="bi bi-amd"
      viewBox="0 0 16 16"
    >
      <path
        d="m.334 0 4.358 4.359h7.15v7.15l4.358 4.358V0H.334ZM.2 9.72l4.487-4.488v6.281h6.28L6.48 16H.2V9.72Z"
      />
    </svg>
  </div>
  <form method="POST" action="/validate">
    <h2 class="row d-flex justify-content-center m-4">Sign Up</h2>
    <div class="row d-flex justify-content-center input-group">
      <div class="w-25 h-200">
        <input
          type="text"
          class="form-control"
          placeholder="Username"
          aria-label="Username"
          aria-describedby="basic-addon2"
          name="username"
        />
      </div>
    </div>
    <div class="row d-flex justify-content-center input-group">
      <div class="w-25">
        <input
          type="password"
          class="form-control"
          placeholder="Password"
          aria-label="Password"
          aria-describedby="basic-addon2"
          name="password"
        />
      </div>
    </div>
    <input type="checkbox" name="remember" />
    <label for="remember">Remember me</label>
    <br />
    <button class="btn btn-primary" type="submit" value="submit">
      Sign Up
    </button>
    {% with messages = get_flashed_messages() %} {% if messages %} {% for
    message in messages %}
    <div class="alert alert-danger my-3 mx-auto w-50" role="alert">
      {{ message }}
    </div>
    {% endfor %} {% endif %} {% endwith %} {% block body %}{% endblock %}
  </form>
</div>
{% endblock %}