#Home{
    margin: 15px 10px;
    padding: 10px 10px;
    list-style-type: none;
    float:left;
    font-family: 'STIX Two Text', serif;
    margin: 9px 10px;
    padding: 9px 10px;
}

#Gallery{
    margin: 15px 10px;
    padding: 10px 10px;
    list-style-type: none;
    float:left;
    font-family: 'STIX Two Text', serif;
    margin: 9px 10px;
    padding: 9px 10px;
}

#Contact{
    margin: 15px 10px;
    padding: 10px 10px;
    list-style-type: none;
    float:left;
    font-family: 'STIX Two Text', serif;
    margin: 9px 10px;
    padding: 9px 10px;
}

#Download{
    margin: 15px 10px;
    padding: 10px 10px;
    list-style-type: none;
    float:left;
    font-family: 'STIX Two Text', serif;
    margin: 9px 10px;
    padding: 9px 10px;
}

li:hover{
    font-size: larger;
    
}

#a{
    height: 50px;
    background-color: burlywood;
    list-style-type: none;
    
}

#b{
    list-style-type: none;
    background-color: burlywood;
    padding: 10px 50px;
    float: left;
    position: absolute;
}


#block{
    background-color: burlywood;
    width: 60px;
    height: 150px
}

#g{
    margin: 15px 10px;
    padding: 10px 10px;
    list-style-type: none;
    font-family: 'STIX Two Text', serif;
    margin: 9px 10px;
    padding: 9px 10px;
    font-size: 2em;
}

a{
    color: inherit;
    text-decoration: inherit;
}

