#title{
    font-family: 'Slackside One', cursive;
    font-size: 80px;
}

.amatic{
    font-family: 'Amatic SC';
    font-weight: bold;
}

a {
    color:white;
    text-decoration: none;
}

img {
    width: 400px;
    height: auto;
  }