table, tr, td, th{
    border: 1px solid black;
    border-collapse: collapse;
}

table{
    width: 100%;
}

td{
    text-align: center;
}

#Timetable{
    width: 50%;
}

a:link:hover{
    color: indigo;
}

a:visited{
    color: ivory;
}