#a{
    width: 700px;
    background-color: antiquewhite;
}

#b{
    max-width: 700px;
    background-color: antiquewhite;
}

#c{
    min-width: 700px;
    background-color: antiquewhite;
}

#d{
    background-color: cyan;
    height: 30px;
}

#e{
    background-color: orangered;
    max-height: 30px;
}

#f{
    background-color: turquoise;
    min-height: 30px;
}


@media screen and (min-width:700px){
    div{
        color:red;
    }
}

@media screen and (min-width:500px max-width:700px){
    div{
        color:white;
    }
}

@media screen and (max-width:500px){
    div{
        color:blue;
    }
}