#submit-button{
    font-size: 18px;
    border-radius: 8px;
}

#submit-button:hover {
    background-color: #47d147; 
    transition-duration: 0.4s;
  }

#submit-button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

fieldset{
    border-style: dashed;
    border-radius: 8px;
}